<div class="wrapper">
   <h1 align="center" class="greeting-heading">ལྷན་རྒྱས་སྐུ་ཁམས་བཟང་། </h1>
   <div class="wrapper-one">
      <p class="front-content">
         <span class="span-one">
            འདི་རིང་ལྷན་རྒྱན་ངའི་དྲ་རྒྱའི་ངོ་དེབ་ཐོག་རྒྱངས་ལ་འཕེབས་རྒྱུ་བྱུང་བར་དང་པོ་མཚམས་འདྲི་དང་།
         </span>
         སྙིང་ཐག་པ་ནས་ཐུགས་འཁུར་དང་རྒྱབ་སྐྱོར་གནང་མཁན་གྱི་རྣམ་པ་ལྷན་རྒྱས་ཚོ་ལ་ཐུགས་རྗེ་ཆེ་ཞུ་རྒྱུ་ཡིན།
         དེ་མིན་གྱི་རྣམ་པ་ལྷན་རྒྱས་ཚོ་ལ་ཡང་ཅིས་ནས་ཀྱང་ཐུགས་འཁུར་དང་རྒྱབ་སྐྱོར་གནང་རོགས་གནང་ཞེས་སྐྱབས་འཇུག་ཞུ་བཞིན་ཡོད།
         <br>
         <br>
         <span class="span-two">
            ངས་ངོ་དེབ་འདིའི་ཐོག་ལ་དམིགས་གསལ་ཀྱིས་སྒྱུ་འཕྲུལ་དང་རྫུ་འཕྲུལ་འདྲ་མི་འདྲ་སྟོན་ནས་གློག་ཀླད་ཤེས་བྱའི་ངོམས་བཟོ་བྱེད་ཡག་འདྲ་གང་ཡང་མེད་ལ།
         </span>
         གལ་ཏེ་ཡོད་པའི་དབང་དུ་གཏོང་ན་ཡང་དེ་ཤེས་མཁན་ཕན་ཚུལ་ལ་ངོམས་བཟོ་བྱེད་ཡག་ལས་སྤྱི་ཚོགས་དྲ་བའི་ར་བའི་ཁྲོད་ཁྲོམས་གྲགས་དང་སྐད་གྲགས་བྱེད་ཡག་ཡང་ཡོད་མ་རེད།

         <span class="span-two">
            ངས་ངོ་དེབ་འདིའི་ཐོག་ལ་དམིགས་གསལ་ཀྱིས་སྒྱུ་འཕྲུལ་དང་རྫུ་འཕྲུལ་འདྲ་མི་འདྲ་སྟོན་ནས་གློག་ཀླད་ཤེས་བྱའི་ངོམས་བཟོ་བྱེད་ཡག་འདྲ་གང་ཡང་མེད་ལ།
         </span>
         <span class="span-two">
            ངས་ངོ་དེབ་འདིའི་ཐོག་ལ་དམིགས་གསལ་ཀྱིས་སྒྱུ་འཕྲུལ་དང་རྫུ་འཕྲུལ་འདྲ་མི་འདྲ་སྟོན་ནས་གློག་ཀླད་ཤེས་བྱའི་ངོམས་བཟོ་བྱེད་ཡག་འདྲ་གང་ཡང་མེད་ལ།
         </span>
         <span class="span-two">
            ངས་ངོ་དེབ་འདིའི་ཐོག་ལ་དམིགས་གསལ་ཀྱིས་སྒྱུ་འཕྲུལ་དང་རྫུ་འཕྲུལ་འདྲ་མི་འདྲ་སྟོན་ནས་གློག་ཀླད་ཤེས་བྱའི་ངོམས་བཟོ་བྱེད་ཡག་འདྲ་གང་ཡང་མེད་ལ།
         </span>
      
      </p>
      <img src="../images/maninblack.jpg" alt="my photo" width="350" height="450" class="my-photo">
   </div>
</div>