<div class="container">
    <logo>
        <img src="../images/myLogo.png" alt="Dawalhasa" width="180" height="150">
    </logo>
    <ul>
        <li><a href="/home">མདུན་ཤོག</a></li>
        <li><a href="/about">ངོ་སྤྲོད།</a></li>
        <li><a href="/project">རང་གི་ལས་ཀ</a></li>
        <li><a href="/profolio">ཤེས་ཚད་འཇོན་ཚད།</a></li>
        <li><a href="/contact">འབྲེལ་གཏུགས་ཁ་བྱང་།</a></li>
    </ul>
</div>